/* Estilização do Login SisGED 2.0 */

body{
    font-family: 'Roboto', sans-serif;
    
}

.container{
    background-color:#fff;
    color: white;
 
}

.cabecalho{
    width: 90px;
    background-color: #f1f2ab;
    border-radius: 90px;
    position: relative;
    top: 10px;
}

.input-group form-control{
    width: 50px;
}

.form{
    background-color: #EEE764;
}

.user{
    width:100%;
    position: relative;
    align-content: center;
}